# Port to be exposed on the host machine
PORT=7860

# External Docker network name
NETWORK_NAME=default_network

# Memory limits for the container (used by both Swarm and Compose)
MEMORY_LIMIT=12g
MEMORY_RESERVATION=6g